
  #details-container {
    height: 400px;
    margin: 2% 1% 2% 1%;
    display: flex;
    justify-content: start;
    align-content: center;
  }
  #hotel-description {
    margin: 1% 4% 2%;
  }
  #carousel-form-container,#detail-form {
    padding: 1%;
    text-align: center;
    border: 1px solid black;
    max-height: 400px;
    position: relative;
  }
  #carousel-form-container {
    margin-left: 2%;
    border-right: none;
    flex-grow: 3;
    max-width: 60%;
  }
  #detail-form {
    margin-right: 2%;
    flex-grow: 1;
    text-align: center;
    border: 1px solid black;
    max-height: 400px;
    box-sizing: border-box;
    
  }
  #book-now {
    margin-top: 1%;
  }
  .carousel-image {
    max-height: 350px;
  }
  .form-input {
    padding:2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .headings {
    font-family: cursive;
    /* font-weight: bold; */
  }
  .inputs {
    width: 60%;
    padding: 2%;
    margin: 5%;
  }
  .carousel-control-prev-icon,.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-image: none;
  }
  .carousel-control-next-icon:after {
    content: ">";
    font-size: 55px;
    color: rosybrown;
  }
  .carousel-control-prev-icon:after {
    content: "<";
    font-size: 55px;
    color: rosybrown;
  }
  #book-now-button {
    width: 170px;
    height: 50px;
    padding-left: 4%;
    margin: 15%;
    margin-left: 34%;
    border:0.5px green;
  }

  .checked{
    color: orange;
  }
  @media only screen and (max-width: 600px) {
    #hotel-description p {
      width: 200%;
      display: flex;
      flex-direction: column;
    }
  
    #details-container {
      margin: 2% 1% 2% 1%;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: start;
      align-content: center;
    }
  
    #carousel-form-container {
      margin-left: 2%;
      border-right: 1px solid black;
      border-bottom: none;
      /* flex-grow: 3; */
      max-width: 95%;
      padding: 1%;
    }
  
    #book-now {
      margin-bottom: 2%;
    }
  }
  