.hotel-image-detail {
  width: 500px;
  height: 500px;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  max-height: 350px;
  margin: 2% 4%;
  }
  
  form {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
  }
  #details-container {
    box-sizing: border-box;
    height: 400px;
    margin: 2.5% 2% 1% 2%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
  }
  
  #image-div {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #form {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-left: 1px solid black;
    align-content: center;
    max-height: 400px;
    box-sizing: border-box;
  }
  form .btn {
    width: 100px;
    height: 35px;
    padding: 3%;
    margin-left: 34%;
  
    margin-left: 38%;
    margin-top: 8%;
    transition: none;
  }
  
  #hotel-description {
    margin: 1% 4% 2%;
  }
  
  input {
    width: 60%;
    margin-left: 10%;
  }
  
  .form-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    margin-bottom: 2.5%;
  }
  
  .headings {
    font-family: cursive;
    font-weight: bold;
  }
  
  #book-now-button {
    width: 170px;
    height: 50px;
    padding-left: 4%;
    margin: 15%;
    margin-left: 34%;
  }
  .btn-success {
    color: #28a745;
    background-color: #e0e0e0;
    border-color: #28a745;
  }
  